<!DOCTYPE html>
<html>
<head>
	<title>Page Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>

<div data-role="page">

	<div data-role="header">
		<h1>Forestwood Middle School<br>Orchestra Booster Club</h1>
        <div data-role="navbar" data-grid="d">
            <ul>
                <li><a href="#" class="ui-btn-active">Home</a></li>
                <li><a href="#">Instructors</a></li>
                <li><a href="#">Boosters</a></li>
                <li><a href="#">Instruments</a></li>
                <li><a href="#">Forms</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Calendar</a></li>
                <li><a href="#">Support Us</a></li>
            </ul>
        </div><!-- /navbar -->
	</div><!-- /header -->

    <div role="main" class="ui-content" style="background-color: #FFFFFF">
        <table style="width: 100%;">
            <tr>
                <td style="width: 33%; vertical-align: top; ">
                    <img src="{{ url_for('static', filename='falconlogo.png') }}" style="width: 100%; max-width: 250px;">
                </td>
                <td>
                    <h2>Welcome to the FMS Orchestra</h2>
                    <p>Welcome back to another wonderful year for the Forestwood Middle School Orchestra! We have so many
                        exciting things planned for this year. Our award-winning FMS Orchestra is growing larger every year.</p>
                    <p>We can't do it without the help and financial assistance of our parents, grandparents, families, school
                        and local community. Please visit our Support Us page to see how you can help.</p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <h2>Great News</h2>
                    <p>We are pleased to welcome our new Teaching Assistant, Mrs. Jenny McHenry! Check out our
                        Instructors page to find out more about her and all the other people who will be working with
                        the students this year.</p>
                </td>
            </tr>
        </table>
	</div><!-- /content -->

	<div data-role="footer">
		<h4 style="font-size: x-small; font-weight: normal;">Copyright ©2014 Forestwood Middle School Orchestra Booster Club, All Rights Reserved.</h4>
	</div><!-- /footer -->
</div><!-- /page -->

</body>
</html>